body{
    margin: 0;
}

header{
    height: 100px;
}

.flex{
    display: flex;
}

.fd-c{
    flex-direction: column;
}

.side-padding{
    padding-left: 10%;
    padding-right: 10%;
}

.jc-sb{
    justify-content: space-between;
}

.jc-sa{
    justify-content: space-around;
}

.jc-c{
    justify-content: center;
}

.ai-c{
    align-items: center;
}

.mt-200{
    margin-top: 200px;
}

.mt-100{
    margin-top: 100px;
}

.mt-80{
    margin-top: 80px;
}

.mt-65{
    margin-top: 65px;
}

.mt-30{
    margin-top: 30px;
}

.mt-20{
    margin-top: 20px;
}

.mts-45{
    margin-top: -45px;
}

.mts-40{
    margin-top: -40px;
}

.mts-20{
    margin-top: -20px;
}

.mts-15{
    margin-top: -15px;
}

.logo{
    width: 63px;
    height: 22px;
}

a{
    text-decoration: none;
}

.header-text{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #979391;
}

.header-text:hover{
    color: #6c8693;
}

.cf{
    color: #D9D9D9;
    font-weight: 500;
}

.block-img1{
    width: 52px;
    height: 52px;
    border: 1px solid #ECECEC;
}

.block-img2{
    width: 52px;
    height: 52px;
    border: 1px solid transparent;
    background-image: radial-gradient(#9cb7c7,  #748E9C);
}

.bg-icon{
    position: absolute;
}

.small-icon{
    position: relative;
}

.left{
    width: 55%;
}

.buttons{
    width: 65%;
}

h1{
    font-size: 90px;
    font-weight: 400;
    font-family: 'Nanum Myeongjo', serif;
    color: #1c2529;
}

.text-minimain{
    font-size: 16px;
    font-weight: 500;
    color: #aaaaaa;
    font-family: 'Inter', sans-serif;
}

.one-but{
    width: 45%;
    height: 60px;
    background-image: radial-gradient(#9cb7c7,  #748E9C);
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.one{
    width: 200px; 
    height: 75px;
}

.two-but{
    width: 45%;
    height: 60px;
    border: 2px solid #dedede;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.img-main{
    width: 440px;
    height: 510px;
}

.text-main{
    font-size: 15px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
}

h2{
    font-size: 36px;
    font-weight: 600;
    font-family: 'PT Serif', serif;
}

.text-h2{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.img-h2{
    width: 85px;
    height: 73px;
    position: relative;
    top: -25px;
    left: 30px;
}

.con-block{
    width: 78%;
    height: 70px;
    border: 2px solid #dedede;
}

.loading{
    width: 78%;
    height: 70px;
    background-image: linear-gradient( 45deg,#6c8693, #a7c2d3);
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.img-fon{
    width: 100%;
    height: 840px;
    background-image: url(../img/Rectangle\ 249.png);
    background-size: cover;
}

.card-fon{
    width: 340px;
    height: 460px;
}

.img-two{
    width: 340px;
    height: 350px;
}

.cardfon-text{
    font-size: 13px;
    font-weight: 500;
    font-family: 'PT Serif', serif;
    color: #1c2529;
}

.card{
    width: 340px;
    height: 460px;
}

.ava{
    width: 340px;
    height: 350px;
}

h3{
    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
}

.price{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.price-img{
    width: 15px;
    height: 25px;
    margin-left: 10px;
}

.Binsky{
    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
    color: #637883;
}

.by{
    font-weight: 400;
    color: #979391;
}

.last{
    font-size: 14px;
    font-weight: 650;
    font-family: 'Inter', sans-serif;
    color: #788d98;
}

button{
    width: 270px;
    height: 65px;
    border: 1px solid #dedede;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

main{
    height: 1500px;
}

.card-block{
    width: 30%;
    height: 45vh;
}

.br-1{
    border-right: 1px solid #e6e6e6;
}

.fs-c{
    font-size: 20px; 
    color:#1e4257;
}

.fw-c{
    font-weight: 600; 
    color:#1e4257;
}

.ava-block{
    width: 90%;
}

.title-card{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #476676;
}

.text-card{
    font-size: 13px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #476676;
}

.title-text{
    font-size: 27px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
    color: #476676;
    margin-bottom: 25px;
}

.line-block{
    width: 89%;
    height: 80px;
    padding: 0 8% 0 3%;
}

.line-text{
    font-size: 23px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
    color: #1e4257;
}

.account{
    width: 60px;
    height: 60px;
}

.fly{
    width: 40px;
    height: 25px;
}

.w-200{
    width: 200px;
}

.w-174{
    width: 174px;
}

.w-232{
    width: 232px;
}

.block-over{
    overflow-x: scroll;
    border: 1px solid transparent;

}

.box-block{
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 100px;
    border: 1px solid transparent;
    background: radial-gradient(#9cb7c7, #748e9c);
    min-width: 200px;
}

.footer{
    height: 500px;
    background-color: #394348;
}

.left-footer{
    width: 72%;
}

.end-text{
    font-size: 23px;
    font-weight: 500;
    font-family: 'PT Serif', serif;
    color: #ffffff;
}

input{
    width: 450px;
    height: 45px;
    background-color: #394348;
    border: 1px solid #ffffff33;
    padding: 0 0 0 3%;
    box-sizing: border-box;
}

.end-button{
    width: 120px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #6a5843;
    margin-left: 10px;
}

.right-footer{
    width: 42%;
}

.box{
    width: 40px;
    height: 40px;
    border: 1px solid #748E9C;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.box:hover{
    border: 2px solid #ffffff;
}

.end-icon1{
    width: 40px;
    height: 30px;
}

.end-icon2{
    width: 30px;
    height: 30px;
}

.end-icon3{
    width: 60px;
    height: 60px;
    margin-top: -13px;
}

.end-logo{
    width: 125px;
    height: 45px;
}

.text-date{
    width: 110px;
    height: 45px;
    border-left: 1px solid #748E9C;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #9ca1a3;
    padding: 0 10% 0 10%;
}

.text-end{
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter', sans-serif;
}

.text-end:hover{
    color: #ffffff;
}

.w-ml{
    width: 60%; margin-left: 7%;
}

@media (max-width: 768px) {
    header{
        flex-flow: row;
        height: 150px;
    }

    .menu-header{
        margin-top: 10px;
    }

    .block-img1{
        width: 40px;
        height: 40px;
    }

    .block-img2{
        width: 40px;
        height: 40px;
    }

    .logo{
        display: none;
    }

    .account-header{
        flex-flow: row;
    }

    .side-padding{
        padding-left: 5%;
        padding-right: 5%;
    }

    .right{
        display: none;
    }

    .left{
        width: 100%;
        text-align: center;
    }

    h1{
        font-size: 60px;
    }

    .buttons{
        width: 70%;
        text-align: center;
        padding: 0 20%;
    }

    .img-h2{
        display: none;
    }

    h2{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .mts-40{
        margin-top: 0;
    }

    .mts-20{
        margin-top: 0;
    }

    .mt-30{
        margin-top: 15px;
    }

    .text-h2{
        font-size: 12px;
        margin-bottom: 10px;
    }

    .con-block{
        height: 40px;
    }

    .loading{
        width: 78%;
        height: 40px;
    }

    .one{
        width: 120px;
        height: 45px;
        margin-left: 10px;
        margin-top: 0;
    }

    .img-fon{
        height: 1400px;
        display: flex;
        justify-content: center;
    }

    .card-one{
        display: flex;
        flex-direction: column;
    }

    .card-fon{
        width: 250px;
        height: 335px;
    }

    .img-two{
        width: 250px;
        height: 260px;
    }

    h3{
        font-size: 14px;
    }

    .price{
        font-size: 16px;
    }

    .cardfon-text{
        font-size: 8px;
    }

    .last{
        font-size: 9px;
        margin-top: 5px;
    }

    button{
        width: 150px;
        height: 40px;
        font-size: 14px;
        margin-top: 30px;
    }
    
    .container{
        margin-top: 10px;
    }

    .title-card{
        font-size: 14px;
    }
    .text-card{
        font-size: 11px;
    }

    .line{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 250px;
        height: 350px;
    }

    .ava{
        width: 250px;
        height: 260px;
    }

    .Binsky{
        font-size: 14px;
    }

    .br-1{
        border-right: 1px solid transparent;
        border-bottom: 1px solid #e6e6e6;
    }

    .card-block{
        margin-top: 15px;
        height: 300px;
    }

    .title-text{
        font-size: 25px;
    }

    .line-block{
        height: 50px;
    }

    .line-text{
        font-size: 21px;
    }

    .fs-c{
        font-size: 16px;
    }

    .account{
        width: 40px;
        height: 40px;
    }

    .fw-c{
        margin-left: 10px;
    }

    .w-200{
        width: 140px;
    }

    .w-174{
        width: 120px;
    }

    .w-232{
        width: 165px;
    }

    .left-footer{
        width: 82%;
    }

    .end-text{
        font-size: 19px;
    }

    input{
        width: 220px;
    }

    .box{
        width: 30px;
        height: 30px;
    }

    .right-footer{
        width: 60%;
    }

    .end-icon1{
        width: 30px;
        height: 20px;
    }

    .end-icon2{
        width: 20px;
        height: 20px;
    }

    .end-icon3{
        width: 40px;
        height: 40px;
    }

    .end-logo{
        width: 70px;
        height: 25px;
    }

    .text-date{
        font-size: 15px;
        width: 35%;
    }

    .text-end{
        font-size: 13px;
    }

    .end{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 10%;
    }
}
